                /* font-face */

@font-face {
    font-family: lato;
    src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: lato;
    src: url('assets/fonts/Lato-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: lato;
    src: url('assets/fonts/Lato-Light.ttf');
    font-weight: light;
}

@font-face {
    font-family: lato;
    src: url('assets/fonts/Lato-Black.ttf');
    font-style: black;
}

                /* general */

body {
    font-family: lato;
    width: 1020px;
    height: 1295px;
    margin: 0;
}

                /* header */

.header {
    height: 95px;
    background-color: #2d303a;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: relative;
}

    .header__underline {
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: #323746;
        bottom: 0;
        left: 0;
    }

    .logo {
        font-size: 24px;
        margin-top: 10px;
        word-spacing: -6px;
    }

        .logo__symbol {
            color: #f06c64;
        }

    .menu {
        list-style-type: none;
    }

        .menu__item {
            float: left;
            margin: 5px 0 0  31px;
            font-size: 11.5px;
            letter-spacing: 0;
            position: relative;
        }

            .menu__item:not(:last-child)::before {
                content: "";
                background-color: rgba(255, 255, 255, 0.2);
                position: absolute;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                right: -16px;
                top: 5px;
            }



        .menu__link {
            color: #fff;
            text-decoration: none;
        }

        .menu__link_red {
            color: #f06c64;
        }

                /* slider */

.slider {
    height: 600px;
    background-color: #f06c64;
    display: flex;
    align-items: center;
    padding-left: 42px;
    position: relative;
}

    .chev {
        width: 16px;
        height: 27px;
        cursor: pointer;
        margin-bottom: 12px;
    }

    

    .chev_left {
        margin-right: 54px;
        margin-bottom: 12px;
    }


    .iphone_left {
        width: 240px;
        height: 483px;
        margin-right: 73px;
        margin-bottom: 12px;
    }

    
    .iphone_right {
        width: 484px;
        height: 240px;
        margin-right: 55px;
        margin-bottom: 12px;
    }

    .slider__underline {
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: #ea676b;
        bottom: 0;
        left: 0;
    }





